if [ -f ".python-version" ]; then
   pyversion=$(head .python-version)
else
   pyversion=3.8.13
fi
pvenv=$(basename $PWD)

use python ${pyversion}
layout virtualenv ${pyversion} ${pvenv}
layout activate ${pvenv}
