shopt -s expand_aliases

parse_git_branch() { git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/' ; }
PS1='\[\033[1;31m\]\u\[\033[1;32m\]@\[\033[1;33m\]\h \[\033[1;32m\]$PWD$(parse_git_branch):\n# \[\033[0m\]'

export CLICOLOR=1

alias ll='ls -lhA'
alias grep='grep --color'

. "$HOME/.bash_aliases"

[ -d "$HOME/.local/bin" ] && PATH="$HOME/.local/bin:$PATH"

{% if ansible_system == "Darwin" %}
export LOCAL_BIN=/opt/homebrew
{% else %}
export LOCAL_BIN=/usr/local
{% endif %}

{% if ansible_system == "Darwin" %}
# brew
eval $(${LOCAL_BIN}/bin/brew shellenv)
{% endif %}

# bash_completion
[[ -r "/etc/profile.d/bash_completion.sh" ]] && . "/etc/profile.d/bash_completion.sh"
[[ -r "${LOCAL_BIN}/etc/profile.d/bash_completion.sh" ]] && . "${LOCAL_BIN}/etc/profile.d/bash_completion.sh"

# ssh
eval $(ssh-agent -s)
ssh-add ~/.ssh/id_rsa
ssh-add ~/.ssh/id_ed25519

# aws cli
complete -C 'aws_completer' aws

# kubectl
alias k=kubectl
complete -F __start_kubectl k

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
[ -d "$HOME/.local/bin" ] || mkdir $NVM_DIR
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

{% if ansible_system == "Darwin" %}
# ssl dependant packages vars
export CFLAGS="-I$(brew --prefix openssl)/include"
export LDFLAGS="-L$(brew --prefix openssl)/lib"
{% else %}
# tgenv
export PATH="$HOME/.local/share/tgenv/bin:$PATH"

# tfenv
export PATH="$HOME/.local/share/tfenv/bin:$PATH"
{% endif %}

# direnv
eval "$(direnv hook bash)"

# pyenv
export PATH="$HOME/.pyenv/bin:$PATH"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
eval "$(pyenv init --path)"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# sdkman
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"

# history size
export HISTFILESIZE=1000000
export HISTSIZE=1000000
export HISTTIMEFORMAT="%F %T "

uname -n -r -m
