Host multipass
  HostName 192.168.64.2
  User ubuntu
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes

Host *
  HostName %h
  User alex
  StrictHostKeyChecking no
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 120

Host i-* mi-*
  IdentityFile ~/.ssh/id_rsa
  ProxyCommand ~/.ssh/aws-ssm-ec2-proxy-command-id.sh %h %r %p ~/.ssh/id_rsa.pub
  StrictHostKeyChecking no
