Host *
  HostName %h
  User alex
  StrictHostKeyChecking no
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 120
  ForwardAgent yes

Host i-* mi-*
  IdentityFile ~/.ssh/id_rsa
  ProxyCommand ~/.ssh/aws-ssm-ec2-proxy-command-id.sh %h %r %p ~/.ssh/id_rsa.pub
  StrictHostKeyChecking no
