repositories:
  ppa:
    - "ppa:ansible/ansible"
    - "ppa:greymd/tmux-xpanes"
  url:
    - "deb https://download.docker.com/linux/ubuntu focal stable"
    - "deb https://apt.kubernetes.io/ kubernetes-xenial main"
    - "deb https://baltocdn.com/helm/stable/debian/ all main"
    - "deb [arch=arm64] https://apt.releases.hashicorp.com focal main"
  key:
    - url: "https://download.docker.com/linux/ubuntu/gpg"
    - url: "https://packages.cloud.google.com/apt/doc/apt-key.gpg"
    - url: "https://baltocdn.com/helm/signing.asc"
    - url: "https://apt.releases.hashicorp.com/gpg"

remote_executables:
  - name: helmfile
    url: "https://github.com/roboll/helmfile/releases/download/v0.144.0/helmfile_linux_arm64"
  - name: aws-iam-authenticator
    url: "https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/download/v0.5.9/aws-iam-authenticator_0.5.9_linux_arm64"

shell:
  - curl https://pyenv.run | bash | true
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "/tmp/awscliv2.zip" && unzip -u /tmp/awscliv2.zip && sudo ./aws/install --update
